.username {
  font-size: 0.9375em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, Helvetica,
    Arial, sans-serif;
  font-weight: 600;
  color: var(--threads-card-primary);
  display: flex;
  align-items: center;
  gap: 0.25em;
}

.clickable:hover {
  text-decoration: underline;
}

.verified {
  margin-top: 0.125em;
  height: 0.8em;
  width: 0.8em;
  fill: var(--threads-card-accent);
}
