.time {
  grid-column: 2;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, Helvetica,
    Arial, sans-serif;
  font-style: normal;
  font-size: 0.8em;
  text-align: start;
  color: var(--threads-card-muted);
}

.time a {
  color: inherit;
  text-decoration: none;
}

.time a:hover {
  text-decoration: underline;
}
